.card {
  background-color: aqua;
  color: burlywood;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 10px 3px 3px #111;
  display: flex;
  overflow: hidden;
}
.cal-colour {
  background-color: tomato;
  height: auto;
  width: 100px;
}
.content {
  display: flex;
  flex-direction: column;
}
