* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.checkbox{
    width: 80px;
    height: 80px;
    background-color: brown;
    border-radius: 20%;
    box-shadow: 5px 10px 0px 0px rgb(0 0 0 / 30%)
    
}
.container{
    
    height: 100vh;
  width: 100%;
  background-color: #ebd4cb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.h1,.h2,.h3,.h4{
    text-align: center;
    margin: 0px 0px 0px 120px;

}
.checkbox:hover{
    background-color: #793322c7;
}
.booked {
    background-color: #521607c7;
  }
